.feature-item {
  background-image: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.7) 0%,
      rgba(21, 21, 21, 0.7) 100%
    ),
    url(../../../assets/home/featured.jpg);
}

/* .image-overlay {
  width: 100%;
  height: 100%;
  background-color: hwb(0 6% 24%);
} */
